.inputWrapper_inputFieldContainer {
  display: flex;
  align-items: flex-end;
}

.inputWrapper_inputContainer {
  margin: 0px !important;
  width: 100%;
}

.inputWrapper_input {
  margin: 0px !important;
  border-color: '#ffa000';
}

.inputWrapper_iconContainer {
  margin-bottom: 20px;
  margin-left: 4px;
}
